body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    padding: 10px 10px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.4em;
    font-weight: 600;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

tbody tr:nth-child(odd) {
    background: #f0f0f0
}

thead tr,
tfoot tr {
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}

input[type='number']{
    width: 42px;
}

label {
    display: inline-block;
    width: 50px;
}

@media screen and (max-width: 430px) {
    body {
        padding: 0;
    }

    table {
        border: 0;
    }

    table caption {
        font-size: 1em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.source {
    text-align: center;
    font-weight: 600;
}